<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_alt5yHVqorJLKeMBmNBsCabgFypa6yyx</string>
		<key>test</key>
		<string>key_test_faE7BHVwerHGSpRCiMy07llfsDfnXqFL</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>keychn</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.chrome.Keychn</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-YEJvDUQHJl7GC6qd205dYUXPf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb734970449970175</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9e5f94b98631103fcb852b5a7cd793dee511616d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>734970449970175</string>
	<key>FacebookDisplayName</key>
	<string>Keychn</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>keychn</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>fb</string>
		<string>twitter</string>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>52.24.88.32</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<string>YES</string>
			</dict>
			<key>NSIncludesSubdomains</key>
			<string>YES</string>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>http://52.34.182.188/</key>
			<string></string>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Requires access to your photos to update your Profile Picture.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Requires access to Calendars to create events for scheduled Masterclasses.</string>
	<key>NSCameraUsageDescription</key>
	<string>Requires access to camera to update your Profile Picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires your current location to connect Masterchef near you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Requires Microphone access to let you make Video Call.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Requires access to your photos to update your Profile Picture.</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
